fastapi
uvicorn
pymupdf
faiss-cpu
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
requests
openai
streamlit
numpy
camelot-py[cv]
pandas
starlette
pytesseract
pdf2image
Pillow
transformers
torch
psutil
sentence-transformers
